.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

tr.header > th {
    height: 100px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
}

tr.strona > td {
    height: 100px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
}
